.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
#login-dropdown{
    min-width: 275px;
}

.social-buttons{
    margin: 5px;
}

.social-buttons a{
    width: 49%;
}

.dropDownSignIn{
    padding-left: 35px;
    padding-right: 35px;
}
.no-rounded-corners{
    border-radius: 0;
}

.navbar-brand{
    padding-left: 20px;
    padding-right: 20px;
    border-right-style: inset;
    border-right-width: 2px;
    border-right-color: #1A1F24;
}

#LangtonsAnt{
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid #000000;
}
